@media only screen and (max-width: 400px) {
  .Button {
    width: 48%;
    height: 5.5%
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(91,77,241);
background: linear-gradient(180deg, rgba(91,77,241,1) 0%, rgba(231,18,130,1) 54%, rgba(240,114,220,1) 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(91,77,241,1) 0%, rgba(228,61,171,1) 54%, rgba(237,146,223,1) 100%  );
}